body {
  margin: 0;
  -moz-transition: left 0.25s ease-in-out;
 -o-transition: left 0.25s ease-in-out;
 -webkit-transition: left 0.25s ease-in-out;
 transition: left 0.25s ease-in-out;
 background: #fff;
 font-size: 16px;
 left: 0;
 padding-top: 50px;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.home-jumbotron {
  position: relative;
  text-align: center;
  background-color: transparent;
  padding: 50px 15px;
  margin-bottom: 40px;
}
/* =Jumbotron
-------------------------------------------------------------- */
.jumbotron {
  color: #fff; }

.home-jumbotron {
  position: relative;
  text-align: center;
  background-color: transparent;
  padding: 50px 15px;
  margin-bottom: 40px; }
  .home-jumbotron h2 {
    font-size: 96px; }
    @media (max-width: 992px) {
      .home-jumbotron h2 {
        font-size: 72px; } }
    @media (max-width: 768px) {
      .home-jumbotron h2 {
        font-size: 48px; } }
    @media (max-width: 480px) {
      .home-jumbotron h2 {
        font-size: 40px; } }
  .home-jumbotron .lead {
    z-index: 1;
    position: relative;
    font-size: 24px; }
    @media (max-width: 768px) {
      .home-jumbotron .lead {
        font-size: 20px; } }
    @media (max-width: 480px) {
      .home-jumbotron .lead {
        font-size: 18px; } }
  .home-jumbotron .middle-circle {
    -moz-border-radius: 80px;
    -webkit-border-radius: 80px;
    border-radius: 80px;
    background: #ffffff;
    font-size: 60px;
    height: 120px;
    width: 120px;
    line-height: 140px;
    position: absolute;
    left: 50%;
    margin-left: -60px;
    bottom: -120px;
    z-index: 1; }
    .basic .home-jumbotron .middle-circle {
      color: #FC575E; }
      /* =Home Widgets
-------------------------------------------------------------- */
#home-page-widgets {
  padding: 80px 0 20px;
  color: #FC575E; }
  @media (max-width: 768px) {
    #home-page-widgets {
      margin: 0; } }
  @media (max-width: 480px) {
    .boxed #home-page-widgets {
      padding: 80px 15px 20px; } }
  .basic #home-page-widgets {
    background: #fff; }

.home-widget {
  margin: 0 0 30px;
  text-align: center; }
  .home-widget img {
    margin-top: 0; }

.home-widget-title {
  color: #FC575E; !important;
  margin: 10px 0 5px;
  font-size: 28px; }
  .home-widget-title a {
    color: #fff !important;
    text-decoration: none; }

.bavotasan_custom_text_widget i {
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  border-radius: 2em;
  font-size: 80px;
  line-height: 130px;
  width: 130px;
  height: 130px;
  margin: 0 auto 30px;
  display: block;
  border: 3px solid #fff; }
